@import "variables.module.scss";

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: $max-width-custom;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 16px 0 16px;

  img{
    border-radius: 50%;
  }
  
}

